body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 40px;
}

h1 {
    color: #333;
}

#main-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid black;
    width: 1300px;
    height: 150px;
}

#memory-game, #focus-exercises, #problem-solving {
border: solid red;
border-radius: 30px;
height: 120px;
width: 300px;
}

#memory-game:hover, #focus-exercises:hover, #problem-solving:hover {
    transform: scale(1.05);
}
